<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_for_about.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="icon" href="https://acehacker.com/microsoft/engage2022/img/face-id.png">
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a >Attendance Tracker</a>
      </div>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Attendance Tracker</div>
    <h3 style="color: white">It is a web app that does real-time face recognition, detects false attendance 
      by accessing the user's location, and does not require a machine or human to mark the attendance. Working with it is very 
    much straightforward. Users need to create an account and log in and keep their attendance. It has two options, one for the admin
  and the user. The admin specifies the location where the work/class is going on, and this web app uses the user 
  location to ensure that the user is present at that place</h3>
  </div>
</body>
</html>
