<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_for_check_location.css')}}">
    <link rel="icon" href="https://acehacker.com/microsoft/engage2022/img/face-id.png">
    <center>
      <h3>Please Verify Your Location</h3>
      <p><h4>Click the button to get your coordinates.</h4></p>
    
    <button onclick="getLocation()">Get Coordinates</button>
    
    <p id="position"></p>
    <script>
    var x = document.getElementById("position");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);  
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      x.innerHTML = ("Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude).fontcolor("yellow").fontsize("5");
    }
    </script><br><br>
    </center>
  </head>
<body>

<form class="login-form" action="/confirm_location" method="POST">
            <div class="login-form__logo-container">
                <img class="login-form__logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmWV0bQR3YJqa-_49Cbca8ukUED3KOKGmczw&usqp=CAU" alt="Logo">
            </div>
            <div class="login-form__content">
                <div class="login-form__header">Enter The Coordinates</div>
                <input class="login-form__input" type="text" name="latitude_cord" id="latitude_cord" placeholder="Latitude">
                <input class="login-form__input" type="text" name="longitude_cord" id="longitude_cord" placeholder="Longitude">
                <button class="login-form__button" type="submit" >Proceed</button>
            </div>
        </form>
        <h4 style="color: yellow;position:absolute; top:29em; right:21em;">{{info}}</h4><br>
</body>
</html>
