<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        function concatenate(name, age) {
           var val;
           val = name + age;
           return val;
        }
        function DisplayFunction() {
           var result;
           result = concatenate('John ', 20) ;
           document.write (result );
        }
     </script>
  </head>
  <body>
     <p>Click the following button to call the function</p>

     <form>
        <input type = "button" onclick = "DisplayFunction()" value = "Result">
     </form>
  </body>
</html>