<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="form">
        <div class="leftside">
            <img src="https://drive.google.com/drive/folders/1VqPVbAhBo5EmwmtyEZGf3NDHxzbCR6b7">
            <h1>WELCOME BACK</h1>
        </div>
        <div class="rightside">
            <h2>LOGIN</h2>
            <div class="input-container">
                <div class="input">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>
                <div class="input">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <input type="submit" class="login" value="LOGIN">
                <p>Or Login Using</p>
                <div class="social-items">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <h6>Not Member Yet? <span>Sign In</span></h6>
            </div>
        </div>
    </div>
</body>
</html>